.info{
	width: 50%;
	margin-right:auto;
	margin-left:auto;
	margin-top:auto;
	margin-bottom:auto;
	font-size: 40px;
}
.extra {
	font-size: 30px;
	font-weight: lighter;
}

.squ{
	font-size: 30px;
	background-color:lightblue;
	margin: 10% 10% 10% 10%
}
h1{
	float: right;
	margin: 10px 10px 10px 10px

}
h2{
	font-size: 20px;
	font-weight: lighter;
}
h3{
	font-size: 15px;
	font-weight: bolder;
}
p{
	font-size: 30px;
	color: black;
	font-weight: lighter;
}
p em{
	color:green;
	font-weight: lighter;
}
